<page-title title="Artwork"></page-title>
<ul class="tiled">
	<li class="tile"><a href="#/artwork/tattoos" class="button-contents">
		<i class="icon icomoon icon-avatar-tattoo"></i>
		Tattoo Designs
	</a></li>
	<li class="tile"><a href="#/artwork/graphic-design" class="button-contents">
		<i class="icon icomoon icon-laptop"></i>
		Graphic Design
	</a></li>
	<li class="tile"><a href="#/artwork/pet-portraits" class="button-contents">
		<i class="icon fa fa-paw fa-3x"></i>
		Pet Portaits
	</a></li>
	<li class="tile"><a href="#/artwork/misc" class="button-contents">
		<i class="icon icomoon icon-pencil-square"></i>
		Miscellaneous
	</a></li>
</ul>

		