<page-title title="Code Portfolio"></page-title>
<ul class="tiled">
	<li class="tile"><a href="#/portfolio/zorkda" class="button-contents">
		<i class="icon icomoon icon-triforce"></i>
		Legend of Zorkda
	</a></li>
	<li class="tile"><a target="_blank" href="https://sudoku-solver-sc.herokuapp.com" class="button-contents">
		<i class="icon icomoon icon-sudoku-solver"></i>
		Sudoku Solver
	</a></li>
	<li class="tile"><a href="#/portfolio/detour-assistant" class="button-contents">
		<i class="icon fa fa-map-signs fa-3x"></i>
		Detour Assistant
	</a></li>
</ul>